<!DOCTYPE html>

<html>

<head>
    <title>Change Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="images/favicon.jpeg"/>
    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/d1f9ff8b6d.js" crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style> 
        .submit{
            border-radius: 5px;
            background-color: rgba(73,115,162,1) ;
            width: 20%;
            position: center;
            margin: 3%;
            padding: 1%;
            color: aliceblue;
        }
        
    </style>
</head>

<body>
    <div class="min-h-screen bg-dotmanage">
        <div style="width: 100%;height: 8%;background-color: rgba(73,115,162,1);position: fixed;" class="object-top">
           

            <p class="text-base md:text-3xl " style="padding-left:.8%; padding-top:.9%; color: white; text-align: left;">Dot Manage</p>
        </div>

        <div class="flex md:flex-row" style="position: fixed;top: 8%;width: 100%;height: 92%;">
  

            <div style="flex-grow: 1 ;width: 100%;height: 85%; padding: 0%;" class="formbody">
                <div class="flex flex-col items-center justify-center formbody h-screen select-none">
                    <div class="flex flex-col -mt-32 bg-white px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-xl shadow-2xl w-full max-w-md  border-l-4 border-purple-600" style="border-color: rgba(73,115,162,1);">
                        <div class="font-medium self-center text-xl sm:text-xl w-60 text-center  shadow-2xl p-6 rounded-full text-white" style="background-color: rgba(73,115,162,1);">Change Password</div>
                        <div class="mt-10">
                            <form method="POST" action="/changepassword">                
                                <div class="relative w-full mb-3">
                                    <input type="password" onkeyup="check();" name="newpassword" class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="New Password" name="newpassword" id="newpassword"style="transition: all 0.15s ease 0s;" required/>
                                    <small class="p-2 text-red-500">* New Password</small>
                                    <small
                            id='strengthmessage'></small>
                                </div>
                                <div class="relative w-full mb-3">
                                    <input onkeyup="check();" type="password" name="conpassword" class="border-0 p-4 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full" placeholder="Confirm Password" name="conpassword" id="conpassword"style="transition: all 0.15s ease 0s;" required/>
                                    <small class="p-2 text-red-500">* Confirm Password</small>
                                    <small
                            id='message'></small>
                                </div>
                                <input hidden name="email" value= <%= email %> >
                                <input hidden name="token" value= <%= token %> >
                                <div class="text-center mt-6">
                                    <input type="submit"  id="submitbutton" value="Confirm" class="p-3 rounded-lg  outline-none text-white shadow w-32 justify-center focus:bg-" style="background-color: rgba(73,115,162,1);">
                                </div>  
                                <div class="flex flex-wrap mt-6">
                                    <div class="w-full text-right">
                                        <a href="/login" class="text-blue-900 text-xl"><small>Log In</small></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script type="text/javascript" lang="javascript">
        var check = function () {
            const strength = /^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$/;
            if (strength.test(document.getElementById('newpassword').value)) {
                document.getElementById('strengthmessage').innerHTML = '';
                document.getElementById('submitbutton').disabled = false
            }
            else {
                document.getElementById('strengthmessage').style.color = 'red';
                document.getElementById('strengthmessage').innerHTML = 'Password is weak';
                document.getElementById('submitbutton').disabled = true
            }
            if (document.getElementById('newpassword').value ==
                document.getElementById('conpassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = '';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                document.getElementById('submitbutton').disabled = true
            }
        }
    </script>
</body>

</html>