<!DOCTYPE html>

<html>

<head>
    <title>Estimate Cost</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/d1f9ff8b6d.js" crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style>
        h2{
            padding: 1.5%;
            font-weight: 700;
            text-decoration: underline;
        }
        h3{
            padding: 1%;
            margin-left: 1.5%;
        }
        select{
            width: 25%;
            margin: 3%;
        }
        input{
            width: 25%;
            margin-left: 2%;
        }
        .submit{
            border-radius: 5px;
            background-color: rgba(73,115,162,1) ;
            width: 20%;
            padding: 1%;
            position: center;
            color: white;
        }
        
    </style>
</head>

<body>
    <div class="min-h-screen bg-dotmanage">
        <div style="width: 100%;height: 8%;background-color: rgba(73,115,162,1);position: fixed;" class="object-top">
            <div style="padding-right: 1%;padding-top: .9%;">
                <button class="md:text-lg btn logout" style="float: right;">Logout</button>
            </div>

            <p class="text-base md:text-3xl " style="padding-left:.8%; padding-top:.1%; color: white; text-align: left;">Dot Manage</p>
        </div>

        <div class="flex md:flex-row" style="position: fixed;top: 8%;width: 100%;height: 92%;">

            <div href="" style="width: 15%;height: 100%;background-color: white;" class="">

                <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                    <i style="color: black; float: left; margin-right: 10px;" class="fas fa-users"></i> <p style="color: black; ">View Teams</p>
            </div>

                <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                    <i style="color: black; float: left; margin-right: 10px;" class="fas fa-money-bill-alt"></i><p style="color: black;">Estimate Cost</p>
                </div>
            </div>

  

            <div style="flex-grow: 1 ;width: 85%;height: 100%; padding: 4%;" class="formbody">

                <div style="flex-grow: 1 ;width: 90%;height: 100%; padding: 5%; overflow:auto;">
                    <h1 style="font-size: 1.5em; ">Estimate Cost</h1>
                    <hr style="width:90%; text-align:left; margin-left:0; background-color: gray; height:2px; margin-bottom: 2%;">

                    <form action="">
                        <h2>
                            Product Type: <select name="" id="" required>
                                <option value=""></option>
                            </select>
                        </h2>
                        <h2>
                            Code Size<input type="text" required>
                        </h2>

                        <h2>Product Parameters</h2>
                            <h3>
                                Requirements: <select name="" id="">
                                    <option value=""></option>
                                </select>
                                Database Size: <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </h3>
                            <h3>
                                Complexity: <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </h3>

                        <h2>Hardware Parameters</h2>
                            <h3>
                                Performance: <select name="" id="">
                                    <option value=""></option>
                                </select>
                                Memory: <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </h3>
                            <h3>
                                VM Environment: <select name="" id="">
                                    <option value=""></option>
                                </select>
                                Turnabout Time: <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </h3>

                        <h2>Personnel Parameters</h2>
                            <h3>
                                Analysis Capability: <select name="" id="">
                                    <option value=""></option>
                                </select>
                                App Experience: <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </h3>
                            <h3>
                                Software Capability: <select name="" id="">
                                    <option value=""></option>
                                </select>
                                VM Experience: <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </h3>
                        
                        <input type="submit" class="submit" value="Get Cost">
                        <button class="submit"> Back to Dashboard</button>

                    </form>

                </div>

            </div>
        </div>
    </div>
</body>

</html>