<!DOCTYPE html>

<html>

<head>
    <title>Estimate Cost</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/d1f9ff8b6d.js" crossorigin="anonymous"></script>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style>
        h2 {
            
            font-weight: 700;
        }

        select {
            width: 25%;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        input {
            width: 25%;
        }

        .submit {
            border-radius: 5px;
            background-color: rgba(73, 115, 162, 1);
            width: 20%;
            padding: 1%;
            position: center;
            color: white;
        }
    </style>
</head>

<body>
    <div class="min-h-screen bg-dotmanage">
        <div style="width: 100%;height: 8%;background-color: rgba(73,115,162,1);position: fixed;" class="object-top">
            <div style="padding-right: 1%;padding-top: .9%;">
                <button class="md:text-lg btn logout" style="float: right;">Logout</button>
            </div>

            <p class="text-base md:text-3xl "
                style="padding-left:.8%; padding-top:.1%; color: white; text-align: left;">Dot Manage</p>
        </div>

        <div class="flex md:flex-row" style="position: fixed;top: 8%;width: 100%;height: 92%;">

            <div href="" style="width: 15%;height: 100%;background-color: white;" class="">

                <a href="/unavailable">
                    <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                        <i style="color: black; float: left; margin-right: 10px;" class="fas fa-users"></i>
                        <p style="color: black; ">View Teams</p>
                    </div>
                </a>

                <a href="/costestimation">
                    <div class="rightmargin" style="color: black; padding: 10px; border: 1px solid black;">
                        <i style="color: black; float: left; margin-right: 10px;" class="fas fa-money-bill-alt"></i>
                        <p style="color: black;">Estimate Cost</p>
                    </div>
                </a>

            </div>



            <div style="flex-grow: 1 ;width: 80%;height: 100%; " class="formbody">

                <div class="grid "style="flex-grow: 1 ;width: 100%;height: 100%; padding: 5%; overflow:auto;">
                    <h1 style="font-size: 1.5em; ">Estimate Cost</h1>
                    <hr
                        style="width:100%; text-align:left; background-color: gray; height:2px; margin-bottom: 2%;">

                    <form action="/costestimated" method="GET">
                        <div class="grid grid-cols-2 gap-6">
                        <h2>
                            <label>ProjectType: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="ProjectType" name="ProjectType" required>
                                <option class="pt-6">Organic</option>
                                <option>Semi-Detached</option>
                                <option>Embeded</option>
                            </select>
                        </h2>
                        <br>
                        <h2>
                            Expected number of Lines of Code in Kilo lines<input type="number" id="kloc" name="kloc"
                            class="mt-1 inline-block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                required>
                        </h2>
                        <br>
                        <p class="text-xs pr-3 text-opacity-75" style="color: gray;">
                            <label style="color: red;">Note: </label>
                            
                            Here all values are by default considered nominal if nothing else is specified.
                        </p >
                        <p></p><h2>Product Parameters</h2><p></p>
                        
                            <h3>
                            <label class="block text-sm font-medium text-gray-700">Requirements: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                id="Requirements" name="Requirements">
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                            <h3>
                            <label class="block text-sm font-medium text-gray-700">Database Size: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                            id="Database" name="Database" required>
                                <option class="pt-6">None</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Complexity : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="Complexity" name="Complexity" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <br>

                        <h2>Hardware Parameters</h2>
                        <br>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Performance Restriction:</label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="Performance" name="Performance" required>
                                <option class="pt-6">None</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Memory Restriction: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="Memory" name="Memory" required>
                                <option class="pt-6">None</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">VM Environment :</label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="vmenvironment" name="vmenvironment" required>
                                <option class="pt-6">None</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Turnabout Time : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="TurnaboutTime" name="TurnaboutTime" required>
                                <option class="pt-6">None</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        
                        <h2>Personnel Parameters</h2>
                        <br>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Analysis Capability : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="AnalysisCapability" name="AnalysisCapability" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">App Experience : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="AppExperience" name="AppExperience" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Software Capability : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="SoftwareCapability" name="SoftwareCapability" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">VM Experience : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="vmexperience" name="vmexperience" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                            </select>
                        </h3>
                    
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Programming Experience : </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="ProgrammingExperience" name="ProgrammingExperience" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                            </select>
                        </h3>
                        <br>
                        <h2>Project Parameters</h2>
                        <br>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Software Engineering methods: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="sem" name="sem" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Use of software tools: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="ust" name="ust" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <h3>
                            <label class="block text-sm font-medium text-gray-700">Development Time: </label><select
                            class="mt-1 block w-4/6 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"                                id="DevelopmentTime" name="DevelopmentTime" required>
                                <option class="pt-6">None</option>
                                <option>Very-Low</option>
                                <option>Low</option>
                                <option>Nominal</option>
                                <option>High</option>
                                <option>Very-High</option>
                            </select>
                        </h3>
                        <br>

                        <input class="submit" type="submit" id="submitbutton" value="Get Cost"></input>

                    </form>
                </div>
                    <br>
                    <a href='/dashboard'><button style="border-radius: 5px;
                        background-color: rgba(73,115,162,1) ;
                        width: 20%;
                        padding: 1%;
                        margin-bottom: 1%;
                        position: center;
                        color: white;"> Back to Dashboard</button></a>



                </div>
                
            </div>
        </div>
    </div>
</body>

</html>