<!DOCTYPE html>

<html>

<head>
    <title>Create Team</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="min-h-screen bg-dotmanage">
        <div style="width: 100%;height: 8%;background-color: rgba(73,115,162,1);position: fixed;" class="object-top">
            <div style="padding-right: 1%;padding-top: .9%;">

                <button class="md:text-lg btn logout" style="float: right;">Logout</button>
            </div>
            <p class="text-base md:text-3xl "
                style="padding-left:.8%; padding-top:.1%; color: white; text-align: left;">Dot Manage</p>

        </div>
        <div class="flex md:flex-row" style="position: fixed;top: 8%;width: 100%;height: 92%;">
            <div style="width: 15%;height: 100%;background-color: white;" class="">

            </div>
            <div style="flex-grow: 1 ;width: 85%;height: 100%;padding: 4%;" class="">
                <div class="flex-col md:flex-col">
                    <p style="color: black;font-weight: 600;">Cost Estimation</p><br>
                    
                    <div class="" style="position:fixed;flex-grow:1;min-height: 65%;width: 75%;background-color: red;">
                        <form action="/costestimation" method="POST">
                        <label style="color: rgb(39, 36, 36); font-size: .9vw;" class="inline-block">Project Type:</label>
                        <select
                            class="bg-white text-gray-600 md:text-xs border-none h-10 inline-block py-3 pl-3 pr-9 rounded leading-tight w-80">
                            <option class="pt-6">Organic</option>
                            <option>Semi-Detached</option>
                            <option>Embeded</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                            <i class="fas fa-chevron-down text-gray-400"></i>
                        </div>
                        <br><br>
                        <label style="color: rgb(39, 36, 36); font-size: .9vw;">Project Type:</label>
                        <select
                            class="bg-white text-gray-600 md:text-xs border-none h-10 inline-block py-3 pl-3 pr-9 rounded leading-tight w-80">
                            <option class="pt-6">None</option>
                            <option>Very Low</option>
                            <option>Low</option>
                            <option>Normal</option>
                            <option>High</option>
                            <option>Very High</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2">
                            <i class="fas fa-chevron-down text-gray-400"></i>
                        </div>
                        </form>

                    </div>
                    <input style="background-color: blue;"type="submit">
                </div>
            </div>
        </div>
    </div>

    </div>
</body>

</html>