<!-- Login Page -->
<!DOCTYPE html>

<html >
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <h1 id="loginhead" style="text-align:center">! DotManage !</h1>
        <link rel="stylesheet" href="/stylesheets/dotmanage.css">


        <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        

        <br><div id="logindiv"><br>
        <center>
            <h2 id="loglab">Login</h2>
        <form action="null">
        <input id = "username" class="logintextbox" name = "username"  required type="text" placeholder="Username"><br><br>
        <input id = " password" class="logintextbox" type="password" name ="password" required placeholder="Password">
        <p>
        <a href="dashboard.html"><button id="loginbutton"> Login </button> </a></form>
        </h4></center>
      <center>
        <br>
        <h2 id="loglab">Signup</h2>
        <a href="par_login.html"><button id="loginbutton">Signup</button></a>
    </center></div>

    </body>
</html>
