<!DOCTYPE html>

<html>

<head>
    <title>Create Team</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/dotmanage.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="relative bg-green-50" style="width: 1440px; height: 1024px;">
        <div class="inline-flex items-center justify-end pl-96 pr-10 pt-5 pb-4 absolute left-0 top-0 bg-gray-500" style="width: 1440px; height: 79px;">
            <p class="text-2xl text-white">Log out</p>
        </div>
        <p class="absolute text-5xl text-white" style="left: 24px; top: 0px;">DotManage</p>
        <div class="inline-flex flex-col space-y-28 items-start justify-start w-64 pb-8 absolute left-0 bottom-0 bg-white">
            <p class="w-40 h-14 text-2xl">View Teams</p>
            <img class="w-8 h-8 rounded-lg" src="https://via.placeholder.com/30x30"/>
            <img class="w-4 h-4 rounded-full" src="https://via.placeholder.com/16x16"/>
            <div class="w-full h-14 bg-white border border-black border-opacity-80"/>
            <p class="text-2xl">Estimate Cost</p>
            <p class="text-2xl">Settings</p>
            <img class="w-7 h-7 rounded-lg" src="https://via.placeholder.com/28x28"/>
        </div>
        <div class="w-64 h-14 absolute bg-white border border-black border-opacity-80" style="left: 0px; top: 79px;"/>
        <p class="absolute text-4xl" style="left: 395px; top: 160px;">Estimate Cost</p>
        <div class="absolute border-black" style="width: 880px; height: 1px; left: 400px; top: 241px;"/>
        <div class="w-48 h-14 absolute" style="left: 395px; top: 909px;">
            <div class="flex items-center justify-center flex-1 h-full py-0.5 pl-1.5 pr-2.5 bg-gray-500 rounded-xl">
                <p class="flex-1 h-full text-base text-center text-white">Get Cost</p>
            </div>
        </div>
        <div class="w-48 h-14 absolute" style="left: 617px; top: 909px;">
            <div class="flex items-center justify-center flex-1 h-full py-0.5 pl-1.5 pr-2.5 bg-gray-500 rounded-xl">
                <p class="flex-1 h-full text-base text-center text-white">Back To Dashboard</p>
            </div>
        </div>
        <div class="inline-flex flex-col space-y-6 items-start justify-end pl-9 pr-12 pt-8 absolute" style="width: 1008px; height: 639px; left: 365px; top: 251px;">
            <div class="relative" style="width: 453px; height: 32px;">
                <p class="w-44 h-8 absolute left-0 top-0 text-base">Project Type:</p>
                <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                    <div class="flex-1 h-full bg-black rounded-full"/>
                </div>
            </div>
            <div class="relative" style="width: 927px; height: 141px;">
                <p class="w-52 h-8 absolute left-0 top-0 text-base">Product Parameters</p>
                <div class="relative " style="width: 453px; height: 32px; left: 0px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Requirements:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 0px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative  left-0 bottom-0" style="width: 453px; height: 32px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Complexity :</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 474px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Database Size:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
            </div>
            <div class="relative" style="width: 927px; height: 144px;">
                <p class="w-52 h-8 absolute left-0 top-0 text-base">Hardware Parameters</p>
                <div class="relative " style="width: 453px; height: 32px; left: 0px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Performance :</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 0px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="w-80 h-8 absolute" style="left: 123px; top: 109px;">
                    <div class="flex items-center justify-end flex-1 h-8 pl-80 pr-2 py-3 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="inline-flex space-x-32 items-center justify-end absolute left-0 bottom-0" style="width: 927px; height: 35px;">
                    <p class="w-44 h-8 text-xs">VM Environment:</p>
                    <p class="w-44 h-8 text-sm">Turnabout Time</p>
                    <div class="flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 474px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Memory : </p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
            </div>
            <div class="relative" style="width: 927px; height: 202px;">
                <p class="w-52 h-8 absolute left-0 top-0 text-base">Personnel Parameters</p>
                <div class="w-80 h-8 absolute" style="left: 123px; top: 56px;">
                    <div class="flex items-center justify-end flex-1 h-8 pl-80 pr-2 py-3 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 0px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-xs">Analysis Capability</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="w-80 h-8 absolute" style="left: 123px; top: 109px;">
                    <div class="flex items-center justify-end flex-1 h-8 pl-80 pr-2 py-3 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="inline-flex space-x-32 items-center justify-end absolute" style="width: 927px; height: 35px; left: 0px; top: 109px;">
                    <p class="w-44 h-8 text-xs">SoftwareE Capability</p>
                    <p class="w-44 h-8 text-sm">VM Experience :</p>
                    <div class="flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 474px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-sm">App Experience :</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative  left-0 bottom-0" style="width: 453px; height: 32px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-xs">Programming  Exp:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
            </div>
            <div class="relative" style="width: 927px; height: 141px;">
                <p class="w-52 h-8 absolute left-0 top-0 text-base">Project Parameter</p>
                <div class="relative " style="width: 453px; height: 32px; left: 0px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">SE Methods:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="w-80 h-8 absolute" style="left: 123px; top: 56px;">
                    <div class="flex items-center justify-end flex-1 h-8 pl-80 pr-2 py-3 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative  left-0 bottom-0" style="width: 453px; height: 32px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Tools Usage:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
                <div class="relative " style="width: 453px; height: 32px; left: 474px; top: 56px;">
                    <p class="w-44 h-8 absolute left-0 top-0 text-base">Time Required:</p>
                    <div class="inline-flex items-center justify-end w-80 h-8 pl-80 pr-2 py-3 absolute right-0 top-0 bg-white border border-black border-opacity-20">
                        <div class="flex-1 h-full bg-black rounded-full"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>